@mixin container {
  width: 100%;
  max-width: $container-max;
  margin-left: auto;
  margin-right: auto;
  
  @media only screen and (max-width: calc($container-max + $container-padding-desktop * 2)) {
    max-width: calc(100% - ($container-padding-desktop * 2) );
  }

  @include tablet {
    max-width: calc(100% - ($container-padding-tablet * 2) );
    padding-left: 0;
    padding-right: 0;
  }

  @include mobile {
    max-width: calc(100% - ($container-padding-mobile * 2) );
    padding-left: 0;
    padding-right: 0;
  }
}


@mixin mobile {
  @media (max-width: $break-mobile) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $break-tablet) {
    @content;
  }
}
