@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  color: var(--color-text);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-heading);
  font-weight: 700;
  line-height: var(--line-height-heading);
  margin-bottom: 0.5em;
  color: var(--color-text);
}

p {
  margin-bottom: 1em;
  color: var(--color-muted);
}

a {
  color: var(--color-primary);
  text-decoration: none;
  transition: color $transition-fast;

  &:hover {
    color: var(--color-primary-hover);
  }
}
