$container-max: 1200px;
$container-padding: 16px;

$break-mobile: 768px;
$break-tablet: 1024px;

$color-text: #191919;
$color-bg: #ffffff;
$color-muted: #666;
$color-primary: #5ab25e;

$container-padding-desktop: 3rem;
$container-padding-tablet: 2rem;
$container-padding-mobile: 1rem;
