{% extends "base.twig" %}

{% block content %}
  <h1>{{ __('404 — Page Not Found', 'wco-starter') }}</h1>
  <p>{{ __('Sorry, the page you are looking for does not exist.', 'wco-starter') }}</p>
{% endblock %}