:root {
    color-scheme: light;
    --font-family-base: #{$font-family-base};
    --font-family-heading: #{$font-family-heading};
    --font-family-accent: #{$font-family-accent};

    --font-size-base: #{$font-size-base};
    --line-height-base: #{$line-height-base};
    --line-height-heading: #{$line-height-heading};

    --color-text: #{$color-text};
    --color-bg: #{$color-bg};
    --color-surface: #{$color-surface};
    --color-surface-strong: #{$color-surface-strong};
    --color-border: #{$color-border};
    --color-muted: #{$color-muted};
    --color-primary: #{$color-primary};
    --color-primary-hover: #{$color-primary-hover};
    --color-secondary: #{$color-secondary};
    --color-accent: #{$color-accent};
    --color-black: #{$color-black};
    --color-white: #{$color-white};

    --container-default: #{$container-default};
    --container-wide: #{$container-wide};
    --container-medium: #{$container-medium};
    --container-narrow: #{$container-narrow};

    --container-gutter-desktop: #{$container-gutter-desktop};
    --container-gutter-tablet: #{$container-gutter-tablet};
    --container-gutter-mobile: #{$container-gutter-mobile};
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;

    
}

body {
    color: var(--color-text);
    background: var(--color-bg);
    line-height: var(--line-height-base);
    transition: padding-top 0.3s ease;

    // Po scrollu – zmniejsz padding
    .site-header.is-scrolled~& {
        padding-top: 60px; // mniejsza wysokość headera
    }
}


.container {
    @include container;
}

.container-wide {
    @include container(wide);
}

.container-medium {
    @include container(medium);
}

.container-narrow {
    @include container(narrow);
}

h1,
h2,
h3 {
    line-height: 1.2;
    margin: 0 0 0.5em;
}

p {
    margin: 0 0 1em;
    color: var(--color-muted);
}
