@import "base/variables";
@import "base/mixins";
@import "base/reset";
@import "base/typography";

@import "base";

@import "layout/header";
@import "layout/footer";


@import "components/buttons";
@import "components/custom";
@import "components/lazy";
@import "components/forms";
@import "components/pages";

@import "woocommerce/shop";
@import "woocommerce/mini-cart";

@import "../../views/blocks/hero/hero";


@import "~aos/dist/aos.css";