<div class="block-spacer{{ is_preview ? ' is-preview' : '' }}" style="{{ spacer_style }}" aria-hidden="true">
  {% if is_preview %}
    <span class="block-spacer__label">{{ spacer_label }}</span>
  {% endif %}
</div>
