.block-text-image {
  &__inner {
    @include inner-layout {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 3rem;
      align-items: center;

      > * { margin: 0; }

      @include tablet { grid-template-columns: minmax(0, 1fr); }
    }

    &--size-third { @include inner-layout { grid-template-columns: 2fr 1fr; @include tablet { grid-template-columns: minmax(0, 1fr); } } }
    &--size-two-thirds { @include inner-layout { grid-template-columns: 1fr 2fr; @include tablet { grid-template-columns: minmax(0, 1fr); } } }
    &--size-third.block-text-image__inner--image-left { @include inner-layout { grid-template-columns: 1fr 2fr; @include tablet { grid-template-columns: minmax(0, 1fr); } } }
    &--size-two-thirds.block-text-image__inner--image-left { @include inner-layout { grid-template-columns: 2fr 1fr; @include tablet { grid-template-columns: minmax(0, 1fr); } } }

    &--align-start { @include inner-layout { align-items: start; } }
    &--align-end { @include inner-layout { align-items: end; } }

    &--image-left .wp-block-image { order: -1; }

    &--image-first-mobile .wp-block-image {
      @include tablet { order: -1; }
    }
  }

  .wp-block-image img { display: block; width: 100%; height: auto; border-radius: $radius-lg; }
}
