.block-hero-banner {
  &__inner {
    max-width: 60rem;
  }

  &__title {
    margin: 0 0 1rem;
  }

  &__content {
    max-width: 60ch;
  }

  &__button {
    margin-top: 1rem;
  }

  &__placeholder {
    color: $color-muted;
  }
}
